<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Users</a>
    </div>
    <div class="table-container">
        <div class="title">List Users </div>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Name</th>
            <th>Ctiy</th>
            <th>Actions</th>
        </tr>

        <!-- <% for (let i=0; i < listUsers.length; i++) { %>
            <tr>
                <td>
                    <%= listUsers[i].id %>
                </td>
                <td>
                    <%= listUsers[i].email %>
                </td>
                <td>
                    <%= listUsers[i].name %>
                </td>
                <td>
                    <%= listUsers[i].city %>
                </td>
                <td>
                    <button>Edit</button>
                    <button>Delete</button>
                </td>
            </tr>
            <% } %> -->

        <% listUsers.forEach(function(user) { %>
            <tr>
                <td>
                    <%= user.id %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <%= user.name %>
                </td>
                <td>
                    <%= user.city %>
                </td>
                <td>
                    <button>Edit</button>
                    <button>Delete</button>
                </td>
            </tr>
            <% }); %>

                <!-- <tr>
                    <td>Lois</td>
                    <td>Griffin</td>
                    <td>$150</td>
                    <td>San Francisco</td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>Joe</td>
                    <td>Swanson</td>
                    <td>$300</td>
                    <td>Vietnam</td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>Cleveland</td>
                    <td>Brown</td>
                    <td>$250</td>
                    <td>Japan</td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr> -->
    </table>
</body>

</html>